fastapi
uvicorn
langchain
langchain-community
langchain-core
langchain_groq
langchain_huggingface
chromadb
transformers
torch
sentence-transformers
fpdf
SpeechRecognition
unstructured
python-dotenv

